@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url('YKcz.eot');
}

* {
	margin: 0px;
	padding: 0px;
}

body {	
	background: #000000;
	color: #FFFFFF;
	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
	height: 100%;
}

h1, h2, h3 {
	margin: 0 0 20px 0;
}

p {
	margin: 5px 0px 10px 0px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

img {
	border: none;
}

a {
	color: #006498;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

p.odkazy a {
	display: block;
	float: left;
	padding: 2px 6px; 
}

hr.cistic {
	clear: both;
	height: 0px;
	border: none;
	margin: 0;
	visibility: hidden;
}

div.obsah, div.remote {
	margin: 20px auto;
	width: 100%;
}

div.obsah-obal, div.remote {
	padding: 10px;
	text-align: center;
}

div.anime {
	width: 240px;
	padding: 20px 5px;
	text-align: center;
	display: inline-block;
	behavior: url('PIE.htc');
}

div.pages {
	width: 200px;
	padding: 3px;
	margin: 10px auto;
	text-align: center;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	behavior: url('PIE.htc');
}

div.pages a {
	color: #FFFFFF;
}

div.lists {
	padding: 3px;
	margin: 10px 0;
	color: #FFFFFF;
	text-align: center;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	behavior: url('PIE.htc');
}

div.lists a {
	color: #FFFFFF;
}

.tr-last td {
	border-bottom: 1px solid #272727;
}


.search {	
	background: #111;
	background: -webkit-linear-gradient(#1b1b1b, #111);
	background: -moz-linear-gradient(#1b1b1b, #111);
	background: -o-linear-gradient(#1b1b1b, #111);
	background: -ms-linear-gradient(#1b1b1b, #111);
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	width: 100%;	
}

.search-obal {
	padding: 20px;
	text-align: center;
}

.search input {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);	
	background: -moz-linear-gradient(#333, #222);	
	background: -o-linear-gradient(#333, #222);	
	background: -ms-linear-gradient(#333, #222);	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	text-shadow: 0 -1px 0 #000;
	width: 90%;
	text-align: center;
}

.ie .search input {
	line-height: 40px;
}

.search input::-webkit-input-placeholder {
   color: #888;
}

.search input:-moz-placeholder {
   color: #888;
}

.search input:focus {
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: -webkit-linear-gradient(#333933, #222922);
	background: -moz-linear-gradient(#333933, #222922);
	background: -o-linear-gradient(#333933, #222922);
	background: -ms-linear-gradient(#333933, #222922);
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.search input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.search input:focus:-moz-placeholder {
	color: #efe;
}

.search input[type="submit"] {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid #444;
	border-radius: 5px;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 15px 5px 0px 5px;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 120px;
}	

.search input[type="submit"]:hover,
.search input[type="submit"]:focus {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);	
	background: -moz-linear-gradient(#393939, #292929);	
	background: -o-linear-gradient(#393939, #292929);	
	background: -ms-linear-gradient(#393939, #292929);	
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.search input[type="submit"]:active {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);
	background: -moz-linear-gradient(#393939, #292929);
	background: -o-linear-gradient(#393939, #292929);
	background: -ms-linear-gradient(#393939, #292929);
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@-webkit-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-moz-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-o-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-ms-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

.remote form {
	display: inline;
}

.remote input {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);	
	background: -moz-linear-gradient(#333, #222);	
	background: -o-linear-gradient(#333, #222);	
	background: -ms-linear-gradient(#333, #222);	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
	text-align: center;
	margin: 10px;
}

.ie .remote input {
	line-height: 40px;
}

.remote input::-webkit-input-placeholder {
   color: #888;
}

.remote input:-moz-placeholder {
   color: #888;
}

.remote input:focus {
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: -webkit-linear-gradient(#333933, #222922);
	background: -moz-linear-gradient(#333933, #222922);
	background: -o-linear-gradient(#333933, #222922);
	background: -ms-linear-gradient(#333933, #222922);
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.remote input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.remote input:focus:-moz-placeholder {
	color: #efe;
}